body {
  background: linear-gradient(to right, beige, green);
}

.pokemon-info {
  display: block;
  white-space: pre-line;
  font-size: 20pt;
  text-align: center;
}

.button-class {
  background-color: purple;
  color: white;
  display: inline-block;
  padding: 16px 32px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  font-size: 17px;
}

@media all and (max-width: 500px) {
  body {
    font-size: 11pt;
  }
}

/* OLD CODE */
/* #modal-container {
  display: none;
} */

/* #modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 50%;
  height: 30%;
  background: rgba(200, 70, 80, 0.5);
  margin-left: 20%;
  margin-top: 20%; */

/* to show it above other content */
/* z-index: 999; */

/* to allow scrolling if the screen is not high enough*/
/* overflow: auto; */

/* this is used to center the modal */
/* display: grid;
  text-align: right; */
/* } */
/* 
.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
} */

/* .modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
} */

/* media query */
